@media screen and (max-width: 767px) {
    .navbar {
        background-color: #111111;
    }
    .fa-instagram{
        margin-left: 10px;
        margin-right: 10px;
    }
    .fa-facebook{
        margin-left: 20px;
        margin-right: 10px;
    }
    .hero-text {
        text-align: center;
        padding-top: 30px;
    }
    .hero-img img {
        width: 50%;
        margin: 1% 0 30px 25%;
    }
    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .hero1 {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .hero-img1 img {
        width: 50%;
        margin: 5% 0 10px 25%;
    }
}
@media (max-width: 576px) {
    .titulo1 {
        padding-top: 40px;
        text-align: center;
        font-family: Ztp1;
        color: #be0404;
        font-size: 60px;
    }
}
