@font-face {
    font-family: "Ztp1";
    src: url(./assets/fonts/hats.otf);
}

* {
    margin: 0;
    padding: 0;

}
body {
    background-color: #e8e8e8;
}
/* index Nav*/
.navbar {
    background-color: #111111;
    display: flex;
    flex-direction: column;
}
.nav-link {
    color: #ffffff;
    font-weight: 200;
    font-family: "Crimson Text", serif;
    font-size: 35px;
    letter-spacing: 3px;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
} 
.nav-link:hover {
    color: #e8e8e8;
    text-decoration: none;
    font-size: 40px;
}
.bodyIndex{
    background-color: #111111;
}

/* SHOP */
.fa-brands{
    color: #ffffff;
}

.fa-instagram{
    margin-left: 40px;
    margin-right: 50px;
}
.fa-facebook{
    margin-left: 40px;
    margin-right: 50px;
}
.banner{
    background-color: #111111;
}
.abajo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    padding: 0 0;
    z-index: 100;
}
.nav-linkS{
    margin-right: 20px;
    color: #ffffff;
    font-weight: 200;
    font-family: "Crimson Text", serif;
    letter-spacing: 3px;
}
.nav-linkS:hover {
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    border-bottom: 2px solid white;
}
.titulo1 {
    padding-top: 40px;
    text-align: center;
    font-family: Ztp1;
    color: #be0404;
    font-size: 100px;
}

.p1 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: Ztp1;
    color: #be0404;
}
/* nosotros */
.hero {
    color: #e8e8e8;
    background-color: #666;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    letter-spacing: 2px;
}
.hero1 {
    color: #e8e8e8;
    background-color: #b7b7b7;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    letter-spacing: 2px;
}
.hero-text h5 {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-text h1 {
    font-family: Ztp1;
    font-size: 80px;
    line-height: 1;
    margin: 0 0 10px;
    letter-spacing: 9px;
    transition: all 0.5s;
}
.hero-text h1:hover{
    font-size: 90px;
}
.hero-text p {
    font-family: "Crimson Text", serif;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.9;
    font-weight: 500;
    font-optical-sizing: auto;
}
.hero-img img {
    width: 300px;
    margin: 10% 0 20px 10%;
    height: auto;

}

.hero-img img:hover {
    opacity: 0.9;
}
section {
    padding: 0 8%;
}

.contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item {
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenedor .contenedor-items .item .img-item {
    width: 100%;
}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor .contenedor-items .item .precio-item {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item {
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* seccion carrito */
.carrito {
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}

.carrito .header-carrito {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito .carrito-item img {
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
    pointer-events: none;
}

.carrito-total {
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover {
    scale: 1.05;
}
/* footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #111111;
}
p{
    color: #e8e8e8;
}
footer section{
    margin-top: 50px;
}
footer .imgfooter{
    width: 200px;
}

/* SECCION RESPONSIVE */

@media screen and (max-width: 767px) {
    .navbar {
        background-color: #111111;
    }
    .fa-instagram{
        margin-left: 10px;
        margin-right: 10px;
    }
    .fa-facebook{
        margin-left: 20px;
        margin-right: 10px;
    }
    .hero-text {
        text-align: center;
        padding-top: 30px;
    }
    .hero-img img {
        width: 50%;
        margin: 1% 0 30px 25%;
    }
    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .hero1 {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .hero-img1 img {
        width: 50%;
        margin: 5% 0 10px 25%;
    }
}
@media (max-width: 576px) {
    .titulo1 {
        padding-top: 40px;
        text-align: center;
        font-family: Ztp1;
        color: #be0404;
        font-size: 60px;
    }
}
